/* .container{
    height: 100vh;
    width: 100%;
    display: flex;
    border: 1px solid red;
    flex-direction: column;
} */

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    padding: 10px;
}

.card-text{
    display: flex;
    padding: 10px;
}

.badge{
    margin-left: 5px;
}

#active{
    display: block;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.sideRight{
    display: flex;
    flex-direction: row;
    
}


.sideRight h6{
    margin-right: 10px;
}

.sideLeft button{
    margin-right: 10px;
}

li{
    list-style: none;
}

.markScored{
    color: green;
}

@media screen and (max-width: 700px){

    /* button{
        width: 150px;
        height: 40px;
    } */

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .sideRight{
        
        padding: 10px;
        
    }

}